@model IEnumerable<WorkEvents.Models.Message>

<div class="container">
    <h1>Situação</h1>
    <h6>Requisição POST para o backend que executa um processo pesado e retorna a resposta direta ao navegador.</h6>
    
    <hr /><br /><br />

    <div class="row">
        <div class="col-md-4">
            <input class="form-control" type="text" id="txtTitle" value="Gustavo" />
        </div>
        <div class="col-md-4">
            <input class="form-control" type="text" id="txtDescription" value="Texto Default" />
        </div>
        <div class="col-md-4">
            <button class="btn btn-secondary" id="btnSend" >Enviar</button>
        </div>

        <br /><br />

        <div class="col-md-12">
            <ol class="list-group list-group-numbered" id="listItens">
                @foreach (var item in Model)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">@item.Title | @item.Date</div>
                            @item.Description
                        </div>
                        <span class="badge bg-primary rounded-pill"></span>
                    </li>
                }
            </ol>
        </div>
    </div>
</div>


@section Scripts{

    <!--Add script to update the page and send messages.-->
    <script type="text/javascript">

        $('#btnSend').click(function(){
            
            $("#overlay").fadeIn(300);　

            var data = {
                title: $('#txtTitle').val(),
                description: $('#txtDescription').val()
            };

            $.ajax({
                url: '/situacao/DoEvent',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    console.log(data);
                    var template = itemTemplate
                        .replace("{{title}}", data.title)
                        .replace("{{description}}", data.description)
                        .replace("{{date}}", new Date(data.date).toLocaleString("pt-BR"));
                    $('#listItens').append(template);
                },
                error: function () {
                    alert("error");
                }
            }).done(function(){
                $("#overlay").fadeOut(300);
            });
        });



      const itemTemplate = `       
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{title}} | {{date}}</div>
                  {{description}}
                </div>
                <span class="badge bg-primary rounded-pill"></span>
              </li>
        `;


    </script>
}